<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New User</title>
  </head>
  <body>
    <form action="/users/add" method="post">
      <label for="address">Address</label>
      <input id="address" type="text" placeholder="Address">

    </form>
    <button formmethod="get" formaction="/" type="button" name="button">Return to User List</button>
  </body>
</html>
